<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Lista książek</title>
<link rel="stylesheet" th:href="@{/static/application.css}" href="/static/application.css" />
</head>
<body>
	<table class="booksList">
	  <tr>
	    <th>Id</th>
	    <th>Title</th>
	    <th>Author</th>
	    <th>Delete</th>
	  </tr>
	  <tr th:each="book : ${books}">
	    <td th:text="${book.id}">id</td>
	    <td th:text="${book.title}">title</td>
	    <td th:text="${book.authors}">authors</td>
	    <td><a th:href="@{/removeBook(id=${book.id})}">Delete</a></td>
	  </tr>
	</table>
</body>
</html>