.sample {
    color: red;
}

.glyphicon-remove {
	color: black;
}

.glyphicon-remove:hover {
	color: #007d93;
}

.table.table-bordered th {
	color: white;
	background-color: #007d93;
	
}

.table.table-bordered tr:nth-of-type(n+2):hover {
	background-color: #ccf0f6;
}

.bookTitle {
	font-weight: bold;
	display: inline;
}

.alert.alert-success {
	text-align: center;
}
